.hidden {
	display: none;
}

.form-errors {
	display: block;
	color: red;
}

.error-general {
	display: block;
	color: red;
	font-weight: bold;
}

.success-general {
	display: block;
	color: green;
	font-weight: bold;
}
